<body class="app-common-container">
    <%= render "partials/common_header" %>
    <div class="game-review-content">
        <div class="game-review-header">
            <div><%= link_to "Back", game_reviews_path, class: "game-review-back", data: { turbo: false} %></div>
            <% if current_user.role == "Admin" %>
                <div class=""><%= link_to "Edit", edit_game_review_path(@game_review), class: "game-review-edit", data: { turbo: false} %></div>
            <% end %>
        </div>
        <div class="game-review-body">
            <div class="game-review-title"><h1><%= @game_review.title %></h1></div>
            <div class="game-review-image">
                <%= image_tag @game_review.avatar.to_s, class:"game-image" %>
            </div>
            <div class="game-review-review">
                <%= action_text_links_new_tab(@game_review.review) %>
            </div>
            <div class="game-review-rating-container"> 
                <div class="game-review-rating"><%= @game_review.rating %></div>
            </div>
            <div class="game-review-text-verdict">
                <%= ratings_helper(@game_review.rating) %>
            </div>
        </div>
    </div>
    <%= render "partials/common_footer" %>
</body>